{% extends "base-nologin.html" %}
<!--
{% block sidebar %}
	<div class="sidebar" style="padding-top: 50px;">
		<a class="nav-pills" href="#">New Set</a>
		<a href="#">News</a>
		<a href="#">Contact</a>
		<a href="#">About</a>
	</div>
{% endblock %}
-->
{% block mycontent %}
	<div style="padding-left: 20px;">
		<div class="row"> <!-- Row -->
			<div class="col-md-4">
				<button class="btn-primary btn-lg btn-block">Create Set</button>
			</div>
			<div class="col-md-4">
				<h1 class="body-text">This is for Analytics</h1>
			</div>
			<div class="col-md-4">
				<h1 class="body-text">This is for pdf reading</h1>
			</div>
		</div> <!-- Row -->
	</div>
{% endblock %}